Repository supersonic-electronic/AI: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-config-schema, docs-build

validate-config-schema:
  name: Validate configuration schema
  entry: python -c "from src.config_validator import validate_config_file; validate_config_file('config.yaml', 'config_schema.json', exit_on_error=True)"
  language: system
  pass_filenames: false

docs-build:
  name: Build documentation
  entry: bash -c 'cd docs && python -m sphinx -b html . _build/html -W'
  language: system
  pass_filenames: false

docs: Update project documentation with latest enhancements
  .claude/Claude.md
  .claude/RECENT_ENHANCEMENTS.md
  README.md
Due: none

feat: Add unified concept normalization utility
  src/knowledge/utils.py
  test_utils_simple.py
  tests/test_normalization.py
Due: docs-build

fix: Use normalized concept names for cache keys and extraction
  src/knowledge/concept_extractor.py
  src/knowledge/external_ontologies.py
Due: docs-build

feat: Add cache validation and repair mechanisms
  src/knowledge/cache_validation.py
Due: docs-build

feat: Add detailed enrichment logging and consistency testing
  test_enrichment_consistency.py
  test_live_enrichment.py
Due: none

fix: Resolve race condition in dual-source enrichment causing None values
  src/frontend/api/graph.py
Due: docs-build

fix: Complete resolution of enrichment metadata pipeline issues
  src/frontend/api/graph.py
Due: docs-build

feat: Add EPUB extractor with chapter processing and MathML support
  config.yaml
  pyproject.toml
  requirements/2025-07-16-2003-epub-ingestion/00-initial-request.md
  requirements/2025-07-16-2003-epub-ingestion/01-discovery-questions.md
  requirements/2025-07-16-2003-epub-ingestion/02-discovery-answers.md
  requirements/2025-07-16-2003-epub-ingestion/03-context-findings.md
  requirements/2025-07-16-2003-epub-ingestion/04-detail-questions.md
  requirements/2025-07-16-2003-epub-ingestion/05-detail-answers.md
  requirements/2025-07-16-2003-epub-ingestion/06-requirements-spec.md
  requirements/2025-07-16-2003-epub-ingestion/metadata.json
  src/ingestion/extractors/__init__.py
  src/ingestion/extractors/document_detector.py
  src/ingestion/extractors/epub.py
  tests/test_epub_extractor.py
Due: validate-config-schema, docs-build

Path conditions:
  validate-config-schema: any of: ^(config\.yaml|config_schema\.json)$
  docs-build: any of: ^(docs/|src/)
